# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c78c7a1b787aba79291152d8e211501cd29c9624900cc83da3732509f4f625afc264b67343d814ff79791a64d98bf505fda030bd9a4e20cb07f7b9f56c560451

test:
  secret_key_base: dc028fb904033162d2444479ac7b047e8489e5ab3ecda4ddbed8f1a55aedc466824f5ae3e7d20236ce9b1d7cf4f2bd70fb8bc948788a7dfef0535a968380f298

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
